.h5-back-color {
    background-color: gainsboro;
    padding-left: 10px;
}

.h5-pr-package {
    padding-left: 40px;
}

.h5-package-img {
    width: 40px;
    height: 40px;
}
.h5-package-left {
    flex-shrink: 0;
    @include size(40px, 40px);
}
.h5-package-button{
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    padding: 4px;
    margin-top: 5px;
}