/* ------------------------------------------公共 */
.goods-name {
    @include ellipsisNum(2);
    word-break: break-all;
    word-wrap: break-word;
}

/* -------------------------------------------mb */
.h5-order-list {
    // margin-top: 10px;
    // padding-top: 10px;
    width: 100%;
}

.h5-row {
    // width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fafafa;
    margin: 0 0 10px 0;
    box-shadow: 0px 4px 14px 0px #D8D8D8;
}

.h5-status-type {
    color: #ec652f;
    height: 10px;
    display: flex;
    align-items: center;
}

.h5-order-info {
    width: 100%;
    display: flex;
    margin: 20px 0;
}

.h5-right {
    width: 460px;
    margin-left: 10px;
}

.h5-list {
    width: 92%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.h5-top-fix {
    // position: fixed;
    // width: 94%;
}

.h5-img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.h5-left {
    flex-shrink: 0;
    @include size(100px, 100px);
}

.h5-confirm-spec-btn {
    width: 80px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 5px 0;
    border-radius: 5px;
    // background-color: var(--main-color);
    font-size: 14px
}

/* ------------------------------------------pc */


.pc-img {
    @include size(120px, 120px);
    border-radius: 10px;
}

.pc-order-list {
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
}

.pc-row {
    width: calc(100% - 40px);
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fafafa;
    margin: 0 0 10px 0;
    box-shadow: 0px 4px 14px 0px #D8D8D8;
}

.pc-status-type {
    color: #ec652f;
    height: 10px;
    display: flex;
    align-items: center;
}

.pc-order-info {
    width: 100%;
    display: flex;
    margin: 20px 0;
}

.pc-right {
    width: 460px;
    margin-left: 10px;
}

.pc-list {
    width: 50%;
    margin: 0 auto;
}

.pc-left {
    flex-shrink: 0;
    @include size(120px, 120px);
}