*{
  margin:0;
  padding:0;
  -webkit-overflow-scrolling: touch;
}
a{
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  text-decoration:none;
}
body{
  color:#757575;
  background-color:#fff;
}
a{
  color:#333;
  text-decoration:none;
}
a:hover{
  // color:var(--theme-color);
  color:#333;
}
b, em, i{
  font-weight:normal;
  font-style:normal;
}
img{
  vertical-align:middle;
  border-style:none;
}
.clearfix{
  zoom:1;
}
.clearfix:after{
  content:".";
  height:0;
  visibility:hidden;
  display:block;
  clear:both;
}
ol, ul{
  list-style:none;
}
h1, h2, h3, h4, h5, h6{
  margin-top:0;
  margin-bottom:.5em;
  color:rgba(0, 0, 0, .85);
  font-weight:500;
}
h1, h2, h3, h4, h5, h6{
  font-size:inherit;
  font-weight:inherit;
}
svg{
  display:inline-block;
}
::-webkit-input-placeholder{
  /* WebKit browsers */
  // color:$disabled;
  font-size:1rem;
}
:-moz-placeholder{
  /* Mozilla Firefox 4 to 18 */
  // color:$disabled;
  font-size:1rem;
}
::-moz-placeholder{
  /* Mozilla Firefox 19+ */
  // color:$disabled;
  font-size:1rem;
}
:-ms-input-placeholder{
  /* Internet Explorer 10+ */
  // color:$disabled;
  font-size:1rem;
}
::-webkit-scrollbar{
  width:0.5rem;
  height:0.5rem;
  background:hsla(0, 0%, 100%, 0.6);
}
::-webkit-scrollbar-track{
  border-radius:0;
}
::-webkit-scrollbar-thumb{
  border-radius:0;
  background-color:rgba(95, 95, 95, 0.4);
  transition:all 0.2s;
  border-radius:0.5rem;
  &:hover{
    background-color:rgba(95, 95, 95, 0.7);
  }
}
[hidden], [none], .hidden, .none{
  display:none !important;
}
.font3{
    font-size: 3px;
}
.font4{
    font-size: 4px;
}
.font5{
    font-size: 5px;
}
.font6{
    font-size: 6px;
}
.font7{
    font-size: 7px;
}
.font10{
    font-size: 10px !important;
}
.font11{
    font-size: 11px !important;
}
.font12{
    font-size: 12px !important;
}
.font13{
    font-size: 13px;
}
.font14{
    font-size: 14px !important;
}
.font15{
    font-size: 15px;
}
.font16{
    font-size: 16px !important;
}
.font17{
    font-size: 17px;
}
.font18{
    font-size: 18px !important;
}
.font20{
    font-size: 20px !important;
}
.font22{
    font-size: 22px !important;
}
.font24{
    font-size: 24px !important;
}
.font30{
  font-size: 30px !important;
}
.font40{
  font-size: 40px !important;
}

.fontW{
  font-weight: 700 !important;
}
//字体颜色
.fontColorRed{
	color: red;
}
// margin-top
.mtop5{
    margin-top: 5px;
}
.mtop10{
    margin-top: 10px;
}
.mtop20{
    margin-top: 20px;
}
.mtop30{
    margin-top: 30px;
}
.mtop40{
    margin-top: 40px;
}
.mtop50{
    margin-top: 50px;
}

.mbottom5{
    margin-bottom: 5px;
}
.mbottom10{
    margin-bottom: 10px;
}
.mbottom15{
    margin-bottom: 15px;
}
.mbottom20{
    margin-bottom: 20px;
}
.mbottom30{
    margin-bottom: 30px;
}
.mbottom40{
    margin-bottom: 40px;
}
.mbottom50{
    margin-bottom: 50px;
}

.mright5{
    margin-right: 5px;
}
.mright10{
    margin-right: 10px;
}
.mright20{
    margin-right: 20px;
}
.mright30{
    margin-right: 30px;
}
.mright40{
    margin-right: 40px;
}
.mright50{
    margin-right: 50px;
}
.mleft10{
	 margin-left: 10px;
}
.mleft15{
  margin-left: 15px;
}
.mleft20{
	 margin-left: 20px;
}
.mleft30{
	 margin-left: 30px;
}
.mleft40{
	 margin-left: 40px;
}
.mleft50{
	 margin-left: 50px;
}

.app-main{
    margin-top: 50px;
    width: 68%;
    max-width:1130px ;
    @include center-x
}
  
// 文本居中
.tac {
    text-align: center;
}
 
.tal {
    text-align: left;
}
 
.tar {
    text-align: right;
}
 
// 行内块级
.inline-block {
    display: inline-block;
}
 
// 加粗
.bold {
    font-weight: bold;
}
 
.non-bold {
    font-weight: normal !important;
}
 
// 可点击标识
.pointer {
    cursor: pointer;
}
 
// 超链接样式
.linkable {
    @extend .pointer;
    color: #2d8cf0;
 
    &:hover {
        color: #57a3f3;
        text-decoration: underline;
    }
}
 
// 白色背景
.bgfff {
    background-color: #fff;
}
 
// 全屏
.full-screen {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #fff;
}
 // 添加*号重要数据填写添加
.required {
    &:before {
        content: "*";
        color: red;
    }
}
 
hr {
    border-bottom: 1px solid #d1d1d1;
}
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
// 文本强制换行
.text-wrap{
	word-break: break-all; //只对英文起作用，以字母作为换行依据。
	word-wrap: break-word; //只对英文起作用，以单词作为换行依据。
	white-space: pre-wrap; //只对中文起作用，强制换行。
}

.border-top-f5{
  border-top: 1px solid #f5f5f5;
}

.submit-btn-user{
  background-color: var(--main-color);
  color: #fff;
  border-radius: 20px;
}
.activity-end {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.38);
}
.auto{
  margin: 0 auto;
}
.on-line-text{
  text-decoration: line-through;
}
.bg{
  background-color: #eef3f4;
  min-height: calc(100vh - 50px);
}

.rich-text-wrap{
  word-break:break-all;
	word-wrap:break-word;
}
// .introduction-image{
//   transition: all .7s;
//   @include size(100%,100%);
// }

// .introduction-image-hover{
//   overflow: hidden;
// }

// .introduction-image-hover:hover{
//     cursor: pointer;
//   .introduction-image {
// 			transform: scale(1.3)
// 		}
// }

 





