.h5-footer-btn {
  font-size: 14px;
  padding: 6px 12px;
  text-align: center;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  min-width: 60px;
  color: #666;
}

.h5-footer-btn-confirm {
  color: #fff;
}

.h5-login-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #d1d4d9;
  text-indent: 1em;
  font-size: 16px;
}
