.pc-font15 {
    font-size:15px;
}
.pc-font13 {
    font-size:13px;
}
.pc-font12 {
    font-size:12px;
}
.pc-font14 {
    font-size:14px;
}
.pc-font16 {
    font-size:16px;
}
.pc-font18 {
    font-size:18px;
}
.pc-font11 {
    font-size:11px;
}
.pc-font20 {
    font-size:20px;
}
.pc-font22 {
    font-size:22px;
}
.pc-font23 {
    font-size:23px;
}
.pc-font24 {
    font-size:24px;
}

.color-white{
	   color: white;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.top-size{
	background-color: #f2f2f2;;
	width:1020px;
	padding:20px;
}
.top-box-shadow{
	box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
}
.p-buttom{
	padding-bottom:40px;
}
.p-top{
	padding-top:20px;
}
.pc-font-right{
    width:150px;
    text-align: right;
    margin-right: 15px;
    display: inline-block;
}
.pc-font-margin{
    margin-right: 15px;
    display: inline-block;
}

.pc-p-10{
	padding:10px 0px;
}