.invalid {
    position: absolute;
    left: 100%;
    display: none;
}

.showvalidView {
    display: block;
    animation: showValid 0.20s linear both;
}

.showinvalidView {
    display: block;
    animation: showInvalid 0.20s linear both;
}
@keyframes showValid {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes showInvalid {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}