.h5-goods-title-tag {
  padding: 8px 16px;
}
.h5-chose-goods-more-text {
  word-break:break-all;
  word-wrap:break-word;
  font-size: 12px;
}
.h5-chose-goods-more-icon {
  font-size: 12px;
  color: #f06c7a;
}
.act-goods-tips {
  margin-left: 5px;
  word-break:break-all;
  word-wrap:break-word;
}
.h5-checkbox {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: solid 1px #f06c7a;
  margin-right: 10px;
}
.h5-checkbox-on {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #f06c7a;
}
.h5-over{
  background-color: #999;
}
.h5-checkbox-sub {
  width: 14px;
  height: 14px;
}
.h5-checkbox-sub-on {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #f06c7a;
}
.h5-goods-img {
  @include size(80px, 80px);
  margin-right: 6px;
}
.h5-goods-name {
  font-size: 13px;
  @include ellipsisNum(2);
}
.h5-goods-spec-info {
  font-size: 11px;
  background-color: #f3f3f3;
  color: #a7a7a7;
  white-space: normal; /* 保留空白符序列，但是正常换行 */
  word-break: break-all; /* 允许在单词内换行 */
  word-wrap: break-word; //只对英文起作用，以单词作为换行依据。
  white-space: pre-wrap; //只对中文起作用，强制换行。
}
.h5-goods-content {
  padding: 12px;
}
.default-act-goods-price {
  font-size: 12px;
}
.h5-goods-limit-count {
  font-size: 11px;
}
.money-unit {
  font-size: 14px;
}
.money-unit-price {
  font-size: 14px;
}


.h5-goods-swipe-cell {
  margin-bottom: 8px;
  box-shadow: 0px 4px 14px 0px #d8d8d8;
}
.input-number-icon {
  @include size(24px, 24px);
  background-color: #f3f3f3;
}

.goods-chose-count {
  padding: 5px 0px;
  min-width: 30px;
  background-color: #f3f3f3;
  margin: 0 5px;
  font-size: 13px;
}
.h5-logistics-type {
  width: 16px;
  height: 16px;
  border: 1px solid #f06c7a;
  color: #f06c7a;
  border-radius: 50%;
  font-size: 10px;
  margin-left: 8px;
}
.h5-goods-del {
  width: 60px;
  height: 100%;
}
.h5-logistics {
  margin-top: 8px;
}
.h5-goods-item {
  flex-direction: column;
  justify-content: space-between;
}
.place {
  height: 50px;
}
.h5-footer-submit {
  position: fixed;
  bottom: 0;
  width: 375px;
  border-top: 1px solid #f5f5f5;
  padding: 8px 12px;
  box-sizing: border-box;
  z-index:4;
}
.del-all-goods-cart {
  font-size: 11px;
  border: 1px solid #f06c7a;
  color: #f06c7a;
  border-radius: 4px;
  padding: 0px 8px;
  margin-left: 15px;
  height: 21px;
}
.checkbox-sub-all {
  font-size: 12px;
}
.h5-amount-to {
  font-size: 11px;
  margin-right: 10px;
  min-width: 100px;
}
.h5-to-cart2 {
  font-size: 13px;
  color: #fff;
  padding: 7px 10px;
  min-width: 70px;
  border-radius: 5px;
}
.h5-amount {
  font-size: 13px;
}
.h5-goods-img-extra {
  @include size(50px, 50px);
  margin-right: 6px;
}

.chose-spec-content {
  padding: 16px;
}
.h5-extra-goods {
  font-size: 16px;
  padding: 2px 12px;
}
.border-b {
  border-bottom: 1px solid #f3f3f3;
}
.h5-to-view-goods {
    width: 100px;
    padding:6px 10px ;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0 auto;
    color: #333;
    font-size: 14px;
}
//物流 拆分 
.h5-modalBox-content{
  flex-direction: column;
  height: calc(100vh - 44px);
}
.h5-modalBox{
  @include size(230px,auto);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
}
.h5-split-btn{
   padding: 6px 8px;
   border-radius: 4px;
   background-color: #ccc;
}
.h5-confirm-split{
  background-color: var(--main-color);
  color: #fff;
}
.h5-modalBox-tips{
  margin-top: 15px;
  margin-bottom: 20px;
}
.h5-confirm-pay{
  width: 60px;
  padding: 4px 0 ;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
}
.h5-goods-border-b{
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 10px;
}
.h5-btn-gift{
  width: 80px;
}
.pc-footer-submit {
  width:1007px;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #f5f5f5;
  padding: 18px 12px;
  box-sizing: border-box;
  z-index:4;
}
.pc-to-cart2 {
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  min-width: 70px;
  border-radius: 5px;
  margin-right:10px;
}
.pc-money-unit-price{
  font-size: 16px;
}
.pc-logistics-type {
  width: 20px;
  height: 20px;
}